body {
    background-color: #666;
    color: #000;
    font-family: "Lucida Console", monospace;
}
#album-header {
    margin: auto;
    width: 95%;
    text-align: center;
    border-bottom: 0.125em solid #000;
    line-height: 0.75em;
}
#album-header h1 {
    font-family: "Share Tech Mono", monospace;
}
#album-info {
    margin: auto;
    width: 95%;
}
#album-info h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Share Tech Mono', monospace;
    font-weight: normal;
}
#album-info li {
    font-style: italic;
}
#track-list {
    border: 0em;
    width: 100%;
    padding-bottom: 2em;
}
#track-list caption, th, td {
    padding: 0.5em;
}
#track-list caption {
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
}
#track-list th {
    border: 0.125em solid #000;
    text-transform: uppercase;
}
#track-list tbody {
    font-style: italic;
    text-align: center;
    color: #1A1917;
}
#track-list tbody tr:nth-child(odd) {
    background-color: #8C8C8C;
}
#track-list tbody tr:nth-child(even) {
    background-color: #999;
}