<form action="fakePage.html" method="post">

    Text Input: <input type="text" name="myTextInput"><br>
    
    Radio Buttons:<br>
    
    <input type="radio" name="answer" value="YES" checked>Yes<br>
    <input type="radio" name="answer" value="NO">No<br>
    <input type="radio" name="answer" value="MAYBE">Maybe<br>
    
    Password Input: <input type="password" name="userPassword"><br>
    
    Check Boxes: <br>
    
    <input type="checkbox" name="myChoices" value="SOUP" checked>Soup<br>
    <input type="checkbox" name="myChoices" value="SALAD">Salad<br>
    <input type="checkbox" name="myChoices" value="FRIES">Fries<br>
    <input type="checkbox" name="myChoices" value="DESSERT">Dessert<br>
    
    Select (Dropdown): <br>
    
    <select name="phones">
    
        <option value="LGG4">LG G4</option>
        <option value="iPhone6">iPhone 6</option>
        <option value="GalaxyS6">GalaxyS6</option>
        <option value="Nexus5">Google Nexus 5</option>
        
    </select><br>
    
    <textarea name="briefDescription">
    
    </textarea><br>
    
    <input type="submit"> <input type="reset"><br>
    
    
    
    
    
</form>