body {
    background-color: darkseagreen;
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
}
.jumbotron {
    margin: 10px 0px;
    background-color: greenyellow;
    border: 2px solid darkgreen;
    border-radius: 4px;
    color: black;
    text-align: center;
}
#startBetLbl1, #startBetLbl2, #svnPlay {
    background-color: greenyellow;
    border: 2px solid darkgreen;
    border-radius: 4px;
    font-weight: bold;
}
.btn, #startBetLbl1, #startBetLbl2, #svnStartBet {
    color: black;
}
#svnStartBet {
    color: black;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 4px;
}
.svnResults {
    background-color: greenyellow;
    border: 2px solid darkgreen;
    border-radius: 4px;
}
#svnResults {
    display: none;
}
#svnResults label {
    color: black;
    text-align: right;
}
#svnPlay {
    margin-top: 5px;
}
#svnPlayAgain, #resultBet, #resultRolls, #resultHigh, #resultHighRoll {
    color: black;
    background-color: greenyellow;
    border: 2px solid darkgreen;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 5px;
}
@media(max-width:767px){
    #svnResults label {
        text-align: left;
    }
}