#myContact {
    background-color: #e2e6e9;
}
#myContactForm label {
    text-align: right;
}
#input_Moreinfo {
    resize: none;
    height: 100px;
}
#reqPrompt {
    margin: 10px 0px;
    display: none;
}
#form_Button {
    font-family: 'Lobster', cursive;
    font-size: 1.2em;
    font-weight: normal;
    color: white;
    background-color: #337ab7;
}
#input_days {
    margin: 0px;
    padding: 4px;
}
.alert {
    margin: 0px;
}
#thank_you {
    display: none;
}
#thank_you div {
    text-align: center;
    background-color: #337ab7;
    border-radius: 4px;
}
#thank_you h1 {
    font-family: 'Lobster', cursive;
}
@media(max-width:767px){
    #myContactForm label {
        text-align: left;
    }
}