* {
    margin: 0em;
}
html, body {
	font-family: Tahoma,Verdana,sans-serif;
    height: 100%;
    background-color: whitesmoke;
}
p {
    font-size: 0.9em;
}
.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3em;
}
#header {
    text-align: center;
    padding: 0.8em;
}
#header h1 {
    font-size: 3em;
    font-weight: bold;
}
#navbar {
    border-top: 0.14em solid #000;
    border-bottom: 0.14em solid #000;
    padding: 0.7em;
}
.navitem {
    padding-left: 0.9em;
    display: inline-block;
}
.footer {
    height: 3em;
    text-align: center;
    border-top: 0.14em solid #000;
    padding-top: 0.375em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.push {
    height: 3em;
}