@font-face {
  font-family: 'Lobster';
  font-weight: 400;
  font-style: normal;
  src: url('http://fonts.gstatic.com/s/lobster/v12/RbZDm27knEncUX6lPsjRBg.eot');
  src: url('http://fonts.gstatic.com/s/lobster/v12/RbZDm27knEncUX6lPsjRBg.eot?#iefix') format('embedded-opentype'),
       local('Lobster'),
       local('Lobster-regular'),
       url('http://fonts.gstatic.com/s/lobster/v12/G6-OYdAAwU5fSlE7MlBvhQLUuEpTyoUstqEm5AMlJo4.woff2') format('woff2'),
       url('http://fonts.gstatic.com/s/lobster/v12/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff') format('woff'),
       url('http://fonts.gstatic.com/s/lobster/v12/TSDaXhyJuDJ-NBU0popSWA.ttf') format('truetype'),
       url('http://fonts.gstatic.com/l/font?kit=j6oWj_2FuMvwWoXYXnyDeA#Lobster') format('svg');
}
* {
    margin: 0em;
}
html, body {
	font-family: "Georgia", serif;
    height: 100%;
    background-color: #fff;
}
p {
    font-size: 0.9em;
}
a {
    text-decoration: none;
    font-weight: normal;
    font-family: 'Lucida Console', 'Monaco', monospace;
    font-size: 1.2em;
}
a:link {
    text-decoration: none;
    color: mediumblue;
}
a:visited {
    text-decoration: none;
    color: #789;
}
a:hover {
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}
a:active {
    text-decoration: none;
}
.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3.5em;
    background-color: #c5ccd3;
}
#header {
    text-align: center;
    padding: 0.8em;
    background-color: #fff;
}
#header h1 {
    font-family: "Lobster", cursive;
    font-size: 3em;
    font-weight: bold;
}
#navbar {
    border-top: 0.125em solid #789;
    border-bottom: 0.125em solid #789;
    padding: 0.7em;
    background-color: #fff;
}
.navitem {
    width: 5em;
    display: inline-block;
    text-align: center;
}
#nav_contact {
    width: 9.5em;   
}
.footer {
    height: 3.5em;
    text-align: center;
    border-top: 0.125em solid #789;
    padding-top: 0.75em;
    background-color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.push {
    background-color: #c5ccd3;
    height: 3.5em;
}