@font-face {
    font-family: 'Share Tech Mono';
    font-weight: 400;
    font-style: normal;
    src: url('http://fonts.gstatic.com/s/sharetechmono/v4/RQxK-3RA0Lnf3gnnnNrAsTwtzT4qNq-faudv5qbO9-U.eot');
    src: url('http://fonts.gstatic.com/s/sharetechmono/v4/RQxK-3RA0Lnf3gnnnNrAsTwtzT4qNq-faudv5qbO9-U.eot?#iefix') format('embedded-opentype'),
         local('Share Tech Mono'),
         local('Share-Tech-Mono-regular'),
         url('http://fonts.gstatic.com/s/sharetechmono/v4/RQxK-3RA0Lnf3gnnnNrAsVlgUn8GogvcKKzoM9Dh-4E.woff2') format('woff2'),
         url('http://fonts.gstatic.com/s/sharetechmono/v4/RQxK-3RA0Lnf3gnnnNrAsaH0X__W3S3MJL29bc5CWfs.woff') format('woff'),
         url('http://fonts.gstatic.com/s/sharetechmono/v4/RQxK-3RA0Lnf3gnnnNrAsYW_AySPyikQrZReizgrnuw.ttf') format('truetype'),
         url('http://fonts.gstatic.com/l/font?kit=RQxK-3RA0Lnf3gnnnNrAsaCLXEu0wbeKjKdJPgQe1G4&skey=241741910c57ea83#ShareTechMono') format('svg');
}
body {
    background-color: #666;
    color: #000;
    font-family: "Lucida Console", monospace;
}
a {
    text-decoration: none;
    color: #fff;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: underline;
    color: #fff;
    background-color: #000;
}
a:active {
    color: #666;
    text-decoration: none;
    background-color: #666;
}
#album-header {
    margin: auto;
    width: 95%;
    text-align: center;
    border-bottom: 1px solid #000;
    padding: 0.25em;
}
#cover-img {
    margin-top: 0.5em;
    width: 500px;
    height: 500px;
    border: 2px solid #000;
    padding: 0.25em;
}
#album-header h1 {
    font-family: "Share Tech Mono", monospace;
}
#album-header h1, h2 {
    text-transform: uppercase;
}
#album-header h2, h3 {
    font-weight: normal;
    }   
#album-header h1, #album-header h2, #album-header h3 {
    margin: 0em;
    padding: 0.125em;
}
#album-info {
    margin: auto;
    width: 95%;
    padding: 0.25em;
}
#album-info h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Share Tech Mono', monospace;
    font-weight: normal;
    margin: 0em;
    padding: 0.125em;
}
#album-info li {
    font-style: italic;
}
#track-list {
    border: 0em;
    width: 100%;
}
#track-list caption, #track-list th {
    text-align: center;
}
#track-list caption {
    color: #000;
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
}
#track-list th {
    border: 1px solid #000;
    text-transform: uppercase;
}
#track-list td {
    border: 0px;
}
#track-list tbody {
    font-style: italic;
    text-align: center;
    color: #1A1917;
}
#track-list tbody tr:nth-child(odd) {
    background-color: #8C8C8C;
}
#track-list tbody tr:nth-child(even) {
    background-color: #999;
}