body {
    background-color: whitesmoke;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 0.9em;
}
.contactform {
    position: relative;
    width: 600px;
    margin: 0px;
    overflow: hidden;
}
.left {
    width: 180px;
    line-height: 20px;
    padding: 5px;
    text-align: right;
    float: left;
}
.right {
    width: 275px;
    padding: 5px;
    display: inline-block;
    overflow: hidden;
}
textarea {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 1.0em;
    width: 264px;
    resize: none;
}
select {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 1.0em;
    width: 270px;
}

#submit {
    text-align: right;
}
#first, #last, #email {
    width: 264px;
}
#submit_button {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 1.0em;
}