body {
    background-color: #666666;
    color: #000000;
    font-family: "Lucida Console", monospace;
}
.album-header {
    margin: auto;
    width: 85%;
    line-height: 0.375em;
    text-align: center;
    border-bottom: 0.125em solid #000000;
}
.album-info {
    margin: auto;
    width: 85%;
}
.album-info h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}
.album-info table {
    border: 0em;
    width: 100%;
    padding-bottom: 3em;
}
.album-info tr, td {
    padding: 0.5em;
    border: 0em;
    color: #1A1917;
}
.album-info th {
    border: 0.125em solid #000000;
    padding: 0.5em;
    text-transform: uppercase;
}
.album-info caption {
    font-size: 1.25em;
    font-weight: normal;
    padding-top: 1em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
}
.album-info td {
    text-align: center;
    background-color: #8C8C8C;
}
tr.even td {
    background-color: #999999;
}
