#myContact {
    background-color: #e2e6e9;
}
#myContactForm label {
    text-align: right;
}
#input_Moreinfo {
    resize: none;
    height: 100px;
}
#contact_Form {
    padding: 10px;
}
@media(max-width:767px){
    #myContactForm label {
        text-align: left;
    }
}