.carousel { 
    height: 300px;
    margin-bottom: 60px;
}
.carousel .item {
    height: 300px;
}
.carousel-caption {
    margin: 0px 0px;
    color: #fff;
    text-shadow: 0 2px 2px #000;
    text-align: left;
}
#exteriorImage {
    margin: 10px 0px;
    max-width: 100%;
    height: auto;
}
#myDescription, .carousel_backup, #js_warning {
    margin: 10px 0px;
    padding: 20px;
    text-align: justify;
    background-color: lightgray;
    border-radius: 4px;
}
.carousel_backup, #js_warning { 
    text-align: left;
    background-color: lightgray;
    border-radius: 4px;
}