#myMenu {
    background-color: #e2e6e9;
}
.myMenuItem {
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-top: 1px solid #789;
}
.myMenuItem h3 {
        font-family: 'Lobster', cursive;
}
#drinks {
    margin: 0px auto;
    padding: 0px;
    width: auto;
    table-layout: auto;
    text-align: center;
    border-collapse: collapse;
}
#drinks td:nth-child(odd) {
    padding: 4px;
    text-align: left;
    vertical-align: middle;
}
#drinks td:nth-child(even) {
    padding: 4px;
    text-align: right;
    vertical-align: middle;
}