@font-face {
  font-family: 'Lobster';
  font-weight: 400;
  font-style: normal;
  src: url('http://fonts.gstatic.com/s/lobster/v12/RbZDm27knEncUX6lPsjRBg.eot');
  src: url('http://fonts.gstatic.com/s/lobster/v12/RbZDm27knEncUX6lPsjRBg.eot?#iefix') format('embedded-opentype'),
       local('Lobster'),
       local('Lobster-regular'),
       url('http://fonts.gstatic.com/s/lobster/v12/G6-OYdAAwU5fSlE7MlBvhQLUuEpTyoUstqEm5AMlJo4.woff2') format('woff2'),
       url('http://fonts.gstatic.com/s/lobster/v12/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff') format('woff'),
       url('http://fonts.gstatic.com/s/lobster/v12/TSDaXhyJuDJ-NBU0popSWA.ttf') format('truetype'),
       url('http://fonts.gstatic.com/l/font?kit=j6oWj_2FuMvwWoXYXnyDeA#Lobster') format('svg');
}
/* Sticky footer styles - getbootstrap.com/examples/sticky-footer/
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #789;
    text-align: center;
}
/* ----------------------------------------------- */
html, body {
    font-family: 'Georgia', serif;
    background: #e2e6e9;
}
.page-header {
    margin: 0px;
    padding: 10px 0px;
}
.page-header h1 {
    margin: 0px;
    padding: 2px;
    font-family: 'Lobster', cursive;
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
}
.page-header ul {
    margin: 0px;
    padding: 2px;
    background-color: lightgray;
    border-radius: 4px;
}
.nav a {
    font-family: 'Lobster', cursive;
    font-size: 1.1em;
    font-weight: normal;
    text-decoration: none;
}
.footer h6 {
    margin: 2px;
    padding: 2px;
    font-weight: bold;
}