body {
    background-color: whitesmoke;
}
.album-header {
    margin: auto;
    width: 85%;
    line-height: 0.3;
    text-align: center;
    border-bottom: 2px solid #000000;
    background-color: whitesmoke;
}
.album-info {
    margin: auto;
    width: 85%;
    background-color: whitesmoke;
}
.album-info h2 {
    text-align: center;
}
.album-info table {
    border-collapse: collapse;
}
.album-info table, tr, th, td {
    padding: 4px;
    border: 1px solid black;
}
.album-info th {
    border-bottom: 2px solid black;
}
.album-info caption {
    font-size: 1.4em;
    padding-bottom: 10px;
}
.album-info td {
    text-align: center;
}
tr.even td {
    background-color: lightgrey;
}
