.jumbotron {
    margin: 10px 0px;
    padding: 10px;
    color: black;
    background-color: #337AB7;
}
#exteriorImage {
    margin: 10px 0px;
    max-width: 100%;
    height: auto;
}
#myDescription {
    margin: 10px 0px;
    padding: 20px;
    text-align: justify;
    background-color: lightgray;
    border-radius: 4px;
}