* {
    margin: 0px;
}
html, body {
	font-family: Tahoma,Verdana,sans-serif;
    height: 100%;
    background-color: whitesmoke;
}
p {
    font-size: 0.9em;
}
.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3em;
}
.footer {
    height: 3em;
    text-align: center;
    border-top: 0.14em solid #000;
    padding-top: 0.375em;
    box-sizing: border-box;
}
.push {

}
#header {
    text-align: center;
    padding: 0.8em;
}
#header h1 {
    font-size: 3em;
    font-weight: 800;
}
#navbar {
    border-top: 0.14em solid #000;
    border-bottom: 0.14em solid #000;
    padding: 0.7em;
}
.navitem {
    padding-left: 0.9em;
    display: inline-block;
}
#mainImage {
    width: 400px;
    height: 150px;
}
.mainImage {
    margin: auto;
    padding-top: 2em;
    padding-bottom: 1em;
    width: 400px;
}
.mainContent {
    margin: auto;
    text-align: justify;
    width: 368px;
    border: 1px solid #000;
    padding: 15px;
}
#main_menu {
    padding: 2em;
    margin: auto;
    width: auto;
}
#main_menu h3 {
    padding-bottom: 0.3em;
}
.menuitem {
    text-align: center;
    width: 300px;
    height: 160px;
    padding: 0.625em;
    display: inline-table;
}
#main_form {
    margin: auto;
    width: 552px;
    overflow: hidden;
    padding-top: 2em;
}
.form_left {
    width: 240px;
    line-height: 1.8em;
    padding-right: 0.375em;
    text-align: right;
    float: left;
}
.form_right {
    width: 300px;
    padding-left: 0.375em;
    line-height: 1.8em;
    display: inline-block;
}
#name, #email, #phone {
    font-family: Tahoma,Verdana,sans-serif;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 22em;
    height: 1.8em;
    text-indent: 0.375em;
}
select {
    font-family: Tahoma,Verdana,sans-serif;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 22em;
    height: 1.8em;    
}
textarea {
    font-family: Tahoma,Verdana,sans-serif;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 22em;
    height: 10em;
    resize: none;
    text-indent: 0.375em;
}
#submit {
    text-align: right;
    padding-right: 1.2em;
}
#submit_button {
    font-family: Tahoma,Verdana,sans-serif;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    height: 2em;
    width: 8em;
}
#spacer {
    padding: 0em;
}
